.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  margin: 10px;
}

.gallery-link {
  display: block;
}

.gallery-image {
  width: 200px;
  height: auto;
  border-radius: 5px;
  transition: transform 250ms ease;
}

.gallery-image:hover {
  transform: scale(1.1);
}
