.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.gallery-item {
  margin-bottom: 20px;
}

.gallery-link {
  text-decoration: none;
}

.gallery-image {
  display: block;
  width: 300px;
  height: auto;
}
